transformers==4.41.2
torch==2.1.1+cu121
torchvision==0.16.1+cu121
torchaudio==2.1.1+cu121
accelerate==1.8.1
datasets==3.6.0
scikit-learn==1.7.0
pandas==2.3.0
matplotlib==3.10.3
tensorflow==2.19.0
numpy==1.26.4